version: '3.8'
services: 

  webui:
    image: jlesage/handbrake:latest
    environment:
      # TODO
      - NVIDIA_DRIVER_CAPABILITIES=video,utility
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - {{ data_dir }}:/config:rw
      - {{ config_dir }}:/storage:ro
      - {{ data_dir }}/watch:/watch:rw
      - {{ data_dir }}/output:/output:rw
      - nas-media:/data:ro
    networks:
      - {{ traefik_network }}

volumes:
  nas-media:
    driver: local
    driver_opts:
      # requires `nfs-common` on Debian
      # OR `nfs-client` on CentOS/Fedora
      type: nfs
      o: addr={{ nfs_host }},ro,nfsvers=4,async
      device: :{{ nfs_path }}

networks:
  {{ traefik_network }}:
    external: true
    name: {{ traefik_network }}
